jsonschema~=3.2.0
jupyter~=1.0.0
kaggle~=1.5.12
matplotlib~=3.4.1
missingno~=0.4.2
numpy~=1.20.2
pandas~=1.2.3
PyYAML~=5.4.1
seaborn~=0.11.1
setuptools~=52.0.0
sklearn==0.0
termcolor~=1.1.0
typer~=0.3.2
